
$bannerBg : #FFFFFF;
$aboutBg : #FFFFFF;
$skillBg : #FFFFFF;
$workBg : #FFFFFF;
$serviceBg : #FFFFFF;
$protfolioBg : #FFFFFF;
$testimonialBg : #FFFFFF;
$contactBg : #FFFFFF;
$footerTopBg : #FFFFFF;
$footerBottomBg : #212121;

/***** header Section *****/
$mainNavBg: #ffffff;

$navFontColor: #000000;

$animatedNavBg : #F9E21A;

$animatedHvrfntBg :#ffffff;

$hoverNavFontColor: #F9E21A;

$navButtonColor: #000000;



$margin :150px 0 80px 0;
